 #title{
text-align: center;
font-size: 40px;
padding: 0px;
margin: 0px;
}
header {
 	background-color: #333;
 	margin: 0px;
 	padding: 0px;
 	height: fit-content;
}
body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
	display:flex;
	flex-direction: column;
	
}
#statsDisplay {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 10px;
	
}

.statCol {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}
#textAreaContainer {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-bottom: 20px;
}
#textDisplay {
	background-color: rgb(24, 99, 197);
	width: 80%;
	
	height: 50vh;
	text-align: left;
	font-size: 200%;
	
	overflow-wrap: break-word;
	word-break: normal;
	padding: 10px;
	border-radius: 20px;
	border : 4px solid black
}
main {
	width: 100%;
	background-color: tomato;
	padding-top: 5%;
	height: 100vh;
	display: flex;
	flex-direction: column;
}
#buttonContainer {
	padding: 20px;
	width:100%;
	display: flex;
	justify-content: center;
}
#restart {
	font-size: 20px;
	padding: 10px 20px;
	border-radius: 10px;
	border: none;
	background-color: #4CAF50;
	color: white;
	cursor: pointer;
	width: 20em;
}
