 #title{
text-align: center;
font-size: 40px;
padding: 0px;
margin: 0px;
}
header {
 	background-color: #333;
 	margin: 0px;
 	padding: 0px;
 	height: fit-content;
}
body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
	display:flex;
	flex-direction: column;
	
}
#statsDisplay {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 10px;
	
}
#textDisplay { 
	text-align: center;
	font-size: 20px;
	margin-top: 20px;

}
.statCol {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}
#textDisplay {
	background-color: rgb(24, 99, 197);
	max-width: 80%;
	margin: auto;
	height: 50vh;
	text-align: left;
	font-size: 200%;
	
	overflow-wrap: break-word;
	word-break: normal;
	padding: 10px;
	border-radius: 20px;
	border : 4px solid black
}
main {
	width: 100%;
	background-color: tomato;
	padding-top: 5%;
	height: 100vh;
}