 #title{
text-align: center;
font-size: 40px;
padding: 0px;
margin: 0px;
}
 header {
 	background-color: ;
 	margin: 0px;
 	padding: 0px;
 	height: 80px;
 }
 body {
 	margin: 0px;
}
.image-container {
  display: flex;
  flex-direction: row;
  border: 5px, solid black;
  float: left;
}

